* {
    box-sizing:border-box;
    font-family: 'Poppins','Actor','Adamina';
}

.front-main {
    height: 100vh;
    width: 90%;
    border-width: 1px 4px 1px 1px;
    border-style: solid;
    background-image: url("./moving\ 1.png");
    padding: 10px 10px 10px 50px;
    margin: 10px;
       background-repeat: no-repeat;
    background-size: cover;
  
    
}